body{
	margin: 0;
	padding: 0;
	background-color:#989898;
}
#Container{
	width: 980px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 21px;
	margin-bottom: 21px;
	background-color: grey;
}
#Header{
	height: 50px;
	background-color: blue;
}
#NavBar{
	height: 60px;
	background-color:black;
}
#content{
	padding:0px;
	height: auto;
	background-color: green;
	display: inline-block;
}
#Footer{
	background-color:#FF6600;
	height: 100px;
	margin-top:800px;
}
#Left{
	padding:0px;
	width:490px;
	height:800px;
	background-color:#383838;
	float: left;
}
#Right{
	padding:0px;
	width:490px;
	height:800px;
	background-color:#383838;
	float:left;
}
form{
	margin-top:50px;
	margin-left:120px;
}
input{
	width:230px;
	height:30px;
	padding-left:20px;
	font-size:20px;
	color:black;
}
.submit
{
	background-color:black;
	color:white;
	font-size:20px;
	border-style:none;
	padding:2px;
	height:33px;
	width:254px;
}
.display{
	background-color:black;
	color:white;
	font-size:20px;
	border-style:none;
	padding:2px;
	height:33px;
	width:154px
}
span{
	color:white;
}
.list{
	height:30px;
}